langchain
langchain-core
langchain-community
langchain-experimental
langgraph

fastapi
uvicorn

streamlit

python-dotenv
pydantic

requests
httpx

langchain-openai
langchain-groq
langchain-google-genai
langchain-google-community

PyYAML

-e .
